@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  form {
    max-width: 450px;
    max-height: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .temp{
    margin:150px 740px 0 0;
    left: 100px;
    top: 200px;
    right: 80px;
  }
  .wrapper{
    background-image: url('images/contactus.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  